body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cornsilk; 
}

button{
    background-color: powderblue;
    margin: 5px;
    padding: 5px;
}

div{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

